body {
    display: flex;
    padding: 20px;
    font-family: Calibri;
}

h2 {
    position: relative;
}

h2::after {
    content: '';
    visibility: hidden;
    position: absolute;
    margin-left: 5px;
}

h2:hover::after {
    content: '#';
    visibility: visible;
}

#page-content-container {
    margin-left: 10%;
    padding: 1rem;
}

#nav-panel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 3px solid black;
}

#nav-panel-container button {
    width: 80%;
    height: 5%;
    font-size: 20px;
    margin-top: 1rem;
}

#main-title-button, #params-title-button {
    color: black;
}

#description-title-button {
    color: #2000d3;
}

#main-title {
    text-align: center;
    padding-bottom: 30px;
}

#description-text-container {
    padding-right: 5%;
}

#description-text-container p {
    margin-left: 30px;
    font-size: 17px;
}

#example-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#params-table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;
    padding: 10px;
}

#params-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#params-table tr:nth-child(even) {
    background-color: white;
}

#params-table th, #params-table td {
    border: 1px solid #bdbdbd;
    padding: 8px;
}

#params-table th {
    text-align: center;
}

#example-image {
    width: 50%;
    border: 3px black solid;
}

#example-image-label {
    font-size: 16px;
}

#application-container ul {
    list-style-type: none;
    padding-left: 20px;
}

#application-container ul li {
    position: relative;
    font-size: 18px;
    padding-left: 40px;
}

#application-container ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('arrow-right-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
}