body {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

p {
    margin-left: 30px;
    font-size: 17px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    align-items: center;
  }

li {
    padding: 5px;
}

li span {
    font-size: 15px;
}

#main-title {
    text-align: center;
    padding-bottom: 30px;
}

#description-text-container {
    padding-right: 5%;
}

#example-image-container, #params-table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#example-image {
    width: 50%;
    border: 3px black solid;
}

#example-image-label {
    font-size: 16px;
}

#nav-panel-container {
    width: 20%;
    background-color: gray;
}